<h1>ITIS Reservations</h1>
<table class='table' *ngIf="reservations">
	<thead>
		<tr>
			<th>Room</th>
			<th>Start of reservation</th>
			<th>Duration</th>
			<th>End of reservation</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let reservation of reservations">
			<td style="width:10%">{{reservation.roomNumber}}</td>
			<td style="width:30%">{{reservation.reservationStart | date:'d MMMM yyyy'}} {{ reservation.reservationStart | date:'HH:mm'}} </td>
			<td style="width:10%">{{reservation.duration.substring(0,5)}} </td>
			<td style="width:30%">{{reservation.reservationEnd | date:'d MMMM yyyy'}} {{ reservation.reservationEnd | date:'HH:mm'}}</td>
			<td style="width:20%">
				<button class="btn btn-primary" (click)="edit(reservation)">Edit</button>
				<button class="btn btn-danger" (click)="cancel(reservation)">Cancel</button>
			</td>
		</tr>
	</tbody>
</table>

<button class="btn btn-primary" (click)="getAll()">Get all</button>

<form #userForm="ngForm" (ngSubmit)="getByDate()">
	<br />

	<div class="form-group">
		<label>Enter date of reservations</label>
		<input required #dateinput="ngModel" type="date" class="form-control" name="dateinput" [(ngModel)]="date">
	</div>

	<button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Get by date</button>

</form>

<h2>Reserve key</h2>
<form #reservationForm="ngForm" (ngSubmit)="submit()">

	<div class="form-group">
		<label>Room number</label>
		<input required #room="ngModel" type="number" pattern="^\d{4}$" [class.is-invalid]="room.invalid && room.touched" class="form-control" name="roomNumber" [(ngModel)]="reservation.roomNumber">
		<small class="text-danger" [class.d-none]="room.valid || room.untouched">Number should be 4 digits</small>
	</div>

	<div class="form-group">
		<label>Date</label>
		<input required #dateinput="ngModel" type="datetime-local" class="form-control" name="startdate" [(ngModel)]="reservation.reservationStart">
	</div>

	<div class="form-group">
		<label>Duration of reservation (hh:mm)</label>
		<input required #time="ngModel" type="time" class="form-control" name="duration" [(ngModel)]="reservation.duration">
	</div>

	<button [disabled]="reservationForm.form.invalid" class="btn btn-primary" type="submit" *ngIf="!editing">Reserve</button>
	<button [disabled]="reservationForm.form.invalid" class="btn btn-primary" type="submit" *ngIf="editing">Submit</button>
	<button class="btn btn-primary" (click)="cancelEditing()" *ngIf="editing">Cancel</button>
    
</form>
<br />
