﻿<h1>ITIS Journal</h1>
<table class='table' *ngIf="journal">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Key</th>
            <th>Info</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of journal | paginate: {itemsPerPage: 10, currentPage: p}">
            <td style="width:30%">{{  item.actionTime | date:'d MMMM yyyy'}}</td>
            <td style="width:10%">{{  item.actionTime | date:'HH:mm'}}</td>
            <td style="width:10%">{{item.roomNumber}}</td>
            <td style="width:50%">{{item.actionInfo}}</td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="p=$event"></pagination-controls>