<div>
    <img width="100%" src="../../../logo_itis.png" />
    <ul class="nav navbar-nav">
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/getKeys']">
                <span class='glyphicon glyphicon-list-alt'></span> Keys
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/getReservations']">
                <span class='glyphicon glyphicon-list-alt'></span> Reservations
            </a>
        </li>
        <li [routerLinkActive]="['link-active']">
            <a [routerLink]="['/getJournal']">
                <span class='glyphicon glyphicon-list-alt'></span> Journal
            </a>
        </li>
    </ul>
</div>
