<h1>ITIS Keys</h1>
<table class='table' *ngIf="keys">
	<thead>
		<tr>
			<th>Room number</th>
			<th>In stock</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let key of keys">
			<td>{{key.roomNumber}}</td>
			<td>{{key.inStock}}</td>
			<td>
				<button class="btn btn-primary" (click)="take(key.roomNumber)" *ngIf="key.inStock" style="min-width:70px">Take</button>
				<button class="btn btn-primary" (click)="return(key.roomNumber)" *ngIf="!key.inStock" style="min-width:70px">Return</button>
				<button class="btn btn-danger" (click)="delete(key.roomNumber)">Delete</button>
			</td>
		</tr>
	</tbody>
</table>

<form #userForm="ngForm" (ngSubmit)="add()">

	<div class="form-group">
        <h3>Add key</h3>
		<input required #room="ngModel" type="number" pattern="^\d{4}$" [class.is-invalid]="room.invalid && room.touched" class="form-control" name="roomNumber" [(ngModel)]="key">
		<small class="text-danger" [class.d-none]="room.valid || room.untouched">Number should be 4 digits</small>
	</div>

	<button [disabled]="userForm.form.invalid" class="btn btn-primary" type="submit">Add</button>
    
</form>
<br />